#Home:hover{
    color: aliceblue;
}
#Gallery:hover{
    color: aliceblue;
}
#About:hover{
    color: aliceblue;
}
#Contact:hover{
    color: aliceblue;
}
.container{
    width: 100%;
}
.slider-wrapper{
    position: relative;
    /* max-width: 48rem; */
    max-height: 100%;
    margin: 0 auto;
}
.slider{
    display:flex;
    /* aspect-ratio: 16/9; */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;

}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border: 50%;
    background-color: #382e2e;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
@media only screen and (max-width:1289px) {
    .navigation{
    padding:0%;
    background-color: darkgoldenrod;
    color: black;
    font-size: x-small;
    }
    #photo{
        display: none;
    }
    #logo{
        display: none;
    }
    .button{
        justify-content: flex-start;
        padding-left: 10px;
        padding-right: 10px;
    }
      #head{
        padding-left: 5;
        padding-right: 5;
        font-size: 20px;


    } 
    .rightbox{
        background-color: transparent;
    }
    #vid{
        align-items: center;
    }
    .text-white{
        display: none;
    }

}
@media only screen and (min-width:1289px) {
    .content{
        display: flex;
    }
    .box{
        width: 50%;
    }
    
}